.fidget-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ddd;
    border-top-color: #39dbb0;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}