.contenedor-responsivo .panel {
    width: 100%;
    display: block;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

@media (min-width: 800px) {
    .contenedor-responsivo {
        display: flex;
        gap: 20px;
    }

    .contenedor-responsivo .panel {
        width: 50%;
        margin-bottom: 0;
    }
}