.boton-ayuda {
    position: fixed;
    bottom: 20px;
    right: 20px;

    background-color: #3498db;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}