using System;

class Programa
{
    static void Main()
    {
        NumerosPares();
    }

    static void NumerosPares()
    {
        for (int i = 1; i <= 50; i++)
            if (i % 2 == 0)
                Console.WriteLine(i);
    }
}