.tarjeta-perfil {
    background-color: #FF8C00;
    color: #333;
    font-family: 'Arial', sans-serif;

    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foto-perfil {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.nombre {
    margin: 10px 0 5px;
    font-size: 1.4em;
    color: #3498db;
}

.descripcion {
    margin-bottom: 15px;
    line-height: 1.6;
    max-width: 280px;
}

@media (min-width: 600px) {
    .tarjeta-perfil {
        width: 300px;
    }
}