.galeria-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.foto img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}